table{
    /*установливаем ширину таблицы в % от ширины body*/
    width: 80%;
    /*чтобы таблица сильно не сжималась и не растягивалась при изменении ширины окна браузера, прописываем минимальную и максимальную ширину в пикселях*/
    min-width: 650px;
    max-width: 800px;
    /*распологаем таблицу по середине по горизонтали*/
    margin: 0 auto;
    /*убираем отступы между ячейками*/
    border-collapse: collapse;
    /*устанавливаем системный шрифт для текста*/
    font-family: Arial, Helvetica, sans-serif;
}
caption{
    /*выравниваем заголовок по горизонтали по правому краю*/
    text-align: right;
    /*переводим текст в верхний регистр*/
    text-transform: uppercase;
    /*устанавливаем цвет заголовка таблицы*/
    color: #666666;
    /*задаем жирность шрифту*/
    font-weight: 700;
}
/*текст ячеек заголовков столбцов в шапке и подвале переводим в верхний регист и задаем белый цвет*/
th{
    text-transform: uppercase;
    color: #ffffff;
}
/*задаем оттенок серого цвета первой ячейке заголовков столюцов в шапке и подвале*/
tr th:first-child{
    color: #666666;
}
/*всем ячекам таблицы устанавливаем выравнивание по цетнру по горизонтали и внутренний отступ сверху и снизу*/
td, th{
    text-align: center;
    padding: 1em 0;
}
/*первой ячейке каждой строки задаем выравнивание по левой стороне, серый цвет и внутренний отступ слева */
tr td:first-child{
    text-align: left;
    color: #666666;
    padding-left: 0.7em;
}
/*содержимое основных ячеек - элементы span - оформляем следующим образом:*/
span {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    border: 2px solid  #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
/*каждой колонке, на которые разбили таблицу, задаем фоновый цвет и ширину, причем четыре колонки будут иметь одинаковую ширину, а ширина первой колонки будет высчитываться автоматически*/
.col-1{
    background-color: #dddddd;
    width: auto;
}
.col-2{
    background-color: #17d0d3;
    width: 17%;
}
.col-3{
    background-color: #8ac149;
    width: 17%;
}
.col-4{
    background-color: #feca28;
    width: 17%;
}
.col-5{
    background-color: #f44236;
    width: 17%;
}
thead{
    /*задаем нижнюю границу для шапки таблицы*/
    border-bottom: 1px solid #ebebeb;
}
tfoot{
    /*задаем верхнюю границу для подвала таблицы*/
    border-top: 1px solid #ebebeb;
}